body {
    /* background: #000046;
    background: -webkit-linear-gradient(to top, #1CB5E0, #000046);
    background: linear-gradient(to top, #1CB5E0, #000046); */
    margin: 0px;
}

/* Class */

.frame {
    cursor: pointer;
    padding: 10px;
}

/* ID */

#door1 {
    cursor: pointer;
}