body {
    /* background: #000046;
    background: -webkit-linear-gradient(to top, #1CB5E0, #000046);
    background: linear-gradient(to top, #1CB5E0, #000046); */
    margin: 0px;
}

/* Class */

.header {
    text-align: center;
}

.frame {
    cursor: pointer;
    padding: 10px;
}

.door-row {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/* ID */

#door1 {
    cursor: pointer;
}